body {
    /* background-color: #323236;d */
    background-color: aliceblue;
    display: flex;
    flex-direction: row; /*Row is the default. Stacks item from left to right*/
    height: 100vh; /* Needed to stretch body full length of the page*/ 
    margin: 0;
}

#container {
    display: grid;
    /* justify-content: center;
    align-items: center; */
    flex-grow: 1; /* 1/12 the width of main content*/
    background-color: aliceblue;
    grid-template-columns: 1fr;
    /* padding-left: 139px; */
}

.Main-Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    flex-grow: 1;
    padding-bottom: 50px;
    /* margin-right: 139px; */
}

/*****************************************
Side Nav and Settings Button Styles
*****************************************/

#settings-menu{
    background-color: #323236;
    flex-grow: 1; /* 1/12 the width of main content*/
    position: fixed;
    z-index: 1000;
    height: 100vh;
    width: 15%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.3s;
}

#settings-btn-menu-open {
    background-color: transparent;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}

#settings-btn-menu-closed {
    display: flex;
    background-color: transparent;
    align-items: center;
    position: fixed;
    z-index: 1000;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    background-color: transparent;
    border: none;
    transition: 0.5s ease;
}

#settings-btn-menu-closed:hover {
    background-color: #323236;
    position: fixed;
    z-index: 1000;
    border-radius: 50px;
}

#settings-btn-menu-closed:hover svg{
    fill: rgb(248, 176, 188);
}

#settings-btn-menu-open:hover svg{
    fill: rgb(248, 176, 188);
}

/*****************************************
Settings List Styles
*****************************************/

#settings-list {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#settings-list li {
    padding: 10px;
    color: aliceblue;
}

#settings-list li:hover {
    color: rgb(248, 176, 188);
    background-color: #48484d;
}
/*****************************************
Header Styles
*****************************************/

#header {
    /* padding-top: 150px; */
    color: #323236;
}

h1 {
    margin-bottom: 5px;
    margin-bottom: 0px;
}

#header-period {
    color: rgb(248, 176, 188);
}

/*****************************************
Text Box Styles
*****************************************/

#translate-box-area {
    /* background-color: beige; */
    display: grid;
}

#text-box {
    padding-bottom: 10px;
    height: 100px;
    width: 400px;
    border-radius: 8px;
    resize: none;
    margin-bottom: 5px;
}

#text-box:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
}

/*****************************************
Button Styles
*****************************************/

#translate-button {
    width: 100px;
    margin-left: 200px;
    border-radius: 5px;
    margin-top: 3px;
    /* background-color: pink; */
    background-color: rgb(248, 176, 188);
    border-width: 0.5px;
    /* color: #323236; */
}

#copy-button {
    display: none;
    width: 100px;
    margin-left: 200px;
    border-radius: 5px;
    margin-top: 3px;
    background-color: pink;
    border-width: 0.5px;
    color: #323236;
}

#clear-button {
    width: 100px;
    border-radius: 5px;
    margin-top: 3px;
    background-color: #323236;
    /* color: rgb(248, 176, 188); */
    color: aliceblue;
    border-color: rgb(248, 176, 188);
    /* border-color: white; */
    border-width: 0.5px;
}

/*****************************************
Toast Menu Styles
*****************************************/

#toast-menu {
    display: none;
    /* TODO: Create styles for toast menu */
}

/*****************************************
Project info styles
*****************************************/
#info {
    color: aliceblue;
}