body {
    /* background-color: #323236;d */
    background-color: aliceblue;
    display: flex;
    flex-direction: row; /*Row is the default. Stacks item from left to right*/
    height: 100vh; /* Needed to stretch body full length of the page*/ 
    margin: 0;
}

.Main-Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    flex-grow: 15;
    padding-bottom: 150px;
}

/*****************************************
Side Nav and Settings Button Styles
*****************************************/

#side-menu{
    background-color: #323236;
    flex-grow: 1; /* 1/12 the width of main content*/
    display: none;
}

#settings-btn {
    background-color: transparent;
    border: none;
    position: sticky;
}

#settings-btn-menu-closed {
    background-color: transparent;
    /* align-items: center;
    justify-content: center; */
    height: 100px;
    font-size: 30px;
}

#settings-btn-menu-closed > span {
    color: aquamarine;
    /* font-size: 100px; */
}

/*****************************************
Header Styles
*****************************************/

#header {
    /* padding-top: 150px; */
    color: #323236;
}

h1 {
    margin-bottom: 5px;
    margin-bottom: 0px;
}

#header-period {
    color: rgb(248, 176, 188);
}

/*****************************************
Text Box Styles
*****************************************/

#translate-box-area {
    /* background-color: beige; */
    display: grid;
}

#text-box {
    padding-bottom: 10px;
    height: 100px;
    width: 400px;
    border-radius: 8px;
    resize: none;
    margin-bottom: 5px;
}

#text-box:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
}

/*****************************************
Button Styles
*****************************************/

#translate-button {
    width: 100px;
    margin-left: 200px;
    border-radius: 5px;
    margin-top: 3px;
    /* background-color: pink; */
    background-color: rgb(248, 176, 188);
    border-width: 0.5px;
    /* color: #323236; */
}

#copy-button {
    display: none;
    width: 100px;
    margin-left: 200px;
    border-radius: 5px;
    margin-top: 3px;
    background-color: pink;
    border-width: 0.5px;
    color: #323236;
}

#clear-button {
    width: 100px;
    border-radius: 5px;
    margin-top: 3px;
    background-color: #323236;
    /* color: rgb(248, 176, 188); */
    color: aliceblue;
    border-color: rgb(248, 176, 188);
    /* border-color: white; */
    border-width: 0.5px;
}

/*****************************************
Toast Menu Styles
*****************************************/

#toast-menu {
    display: none;
    /* TODO: Create styles for toast menu */
}

/*****************************************
Project info styles
*****************************************/
#info {
    color: aliceblue;
}